// 匹配文件名的规则，[^\s]* 表示任意非空白字符出现N次，\.等于.
sourceFile=PLM导出格式-[^\s]*产品物料数据\.xls
// 用于存放源文件目录
sourceFolder=testSource
// 转化后输出到目标目录的，文件前缀
targetFilePrefix=t-
// 输出结果的目标目录
targetFolder=testTarget
// 输出文件的模板
targetTemplate=template.xls
// 源文件跳过N行开始作为输入行，用于跳过标题
sourceSkipRows=1
// 输出文件跳过N行开始作为输入行，用于跳过标题
targetSkipRows=1

// 表示下面都是规则配置，每行表示一个转化规则
Rule
// 源文件子表格编号.列号=输出子表格编号.列号   注意：编号都是从0开始，比如:第一个子表的第一列就是0.0
0.0=0.1
// 默认值 用中括号括起来 ，如果用d[]则表示是数字格式，s[]或[]表示是自负格式
d[今日你好]=0.2
// 序列号 用#号括起来，格式：开始序号|递进数 |索引列号  例如：2|1 表示从2开始每行加一，索引列号表示该列（输出表格中的）相同的值会对应同一个序列号
#100|1|1#=0.0